body {
  margin: 0;
}
.et_background {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.18) 0%,
      rgba(0, 0, 0, 0.18) 100%
    ),
    url(../img/bg-pp.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 65px;
}
.et_mark {
  padding: 0;
  font-size: 45px;
  color: #ff8053;
  margin-bottom: 10px;
  text-align: center;
}
.et_title {
  margin: 0;
  color: white;
  font-family: Arial;
  text-align: center;
  letter-spacing: 4px;
  font-size: 46px;
  font-weight: 700;
  word-wrap: break-word;
}
.et_section {
  padding: 100px 0;
}
.et_row {
  max-width: 1080px;
  width: 80%;
  margin: auto;
}
.section_title {
  font-size: 22px;
  line-height: 1rem;
  color: #333;
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Noto Sans JP',Helvetica,Arial,Lucida,sans-serif;
}
.section_title strong {
  margin-bottom: 10px!important;
}
.section_des {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.75rem;
  letter-spacing: 1px;
  color: #424242;
  word-wrap: break-word;
  margin: 0;
  padding-bottom: 1rem;
  font-family: 'Noto Sans JP',Helvetica,Arial,Lucida,sans-serif;
}
.section_des_bottom {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 1px;
  color: #424242;
  word-wrap: break-word;
  margin: 0;
  font-family: 'Noto Sans JP',Helvetica,Arial,Lucida,sans-serif;
}
@media only screen and (max-width: 980px) {
  .et_background {
    padding-top: 16%;
    padding-bottom: 16%;
  }
  .et_title {
    font-size: 56px;
  }
}
@media only screen and (max-width: 767px) {
  .et_background {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .et_title {
    font-size: 36px;
  }
  .et_section {
    padding-top: 80px;
  }
}
/* ----------------------------------- header & footer -------------------------------- */
a {
  text-decoration: none;
}

.KC_logo_bar {
  max-height: 80px;
  position: fixed !important;
  top: 0px;
  bottom: auto;
  left: 0px;
  right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  z-index: 1;
}

.KC_logo {
  width: 240px;
  height: 65px;
}

.KC_contact {
  width: 562px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.KC_phone_icon {
  width: 17px;
  margin-left: 15px;
}

.KC_phone_number {
  color: #ff8053;
  font-family: 'Noto Sans JP', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.KC_et_pb_button {
  padding-top: 8px !important;
  padding-right: 44px !important;
  padding-bottom: 8px !important;
  padding-left: 44px !important;
  color: #FFFFFF !important;
  border-width: 0px !important;
  border-radius: 43px;
  font-size: 15px;
  font-family: 'Noto Sans JP', Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 700 !important;
  background-color: #FF8053;
  margin-right: 30px;
}

.KC_menu_icon {
  width: 50px;
  font-family: 'Noto Sans JP', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 24px;

  display: none;
}

.mobile_menu_bar {
  display: none;
}

.KC_menu_group {
  background-color: #f8f8f8;
  color: #666;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  box-shadow: #e0e0e0 0px 10px 30px;
  font-size: 16px;
  background-color: #F8F8F8;
  height: 40px;
  box-shadow: 0px 12px 18px -6px rgba(127,127,127,0.11);
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.KC_menu {

  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  font-family: 'Noto Sans JP', Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 700 !important;
  margin-top: 0;
}

.KC_mobile_menu a {
  font-family: 'Noto Sans JP', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #424242 !important;
}

.KC_mobile_menu li {
  margin-top: 25px;
  margin-left: 20px;
  list-style: none;
  border-bottom:1px solid rgba(0,0,0,.03);
}

.KC_mobile_menu {
  position: absolute;
  top: 80px;
  padding: 50px;
  background: #fff;
  width: 100%;
  opacity: 1;
  z-index: 9999;
  border-top: 3px solid #ff8053;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  position: fixed;
}

.KC_mobile_menu_group {
  display: none;
}

footer {
  background-color: #3a3a3a !important;
  padding: 54px 0px;
}

.section1 {
  font-family: 'Noto Sans JP', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: 'Noto Sans JP', Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

footer .menu {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 27px 0 27px;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width:980px) {

  .KC_phone_icon {
      display: none;
  }

  .KC_phone_number {
      display: none;
  }

  .KC_menu_group {
      display: none;
  }
  .KC_logo_bar{
      height: 80px;
  }
  .KC_logo {
      width: 150px;
      height: 45px;
  }
  .KC_contact {
      width: 250px;
  }

  .mobile_menu_bar {
      display: block;
  }

  .KC_menu_icon {
      display: block;
  }
  footer .menu {
      width: 1080px;
      display: block;
      list-style: none;
      padding-left: 0;

  }

  .menu li {
      line-height: 40px;
      text-align: center;
  }
  .KC_et_pb_button {
    margin-right: 0;
  }
}

@media screen and (min-width:980px) {
  .KC_mobile_menu_group {
      display: none;

  }
}
@media screen and (max-width:767px) {
  .KC_logo {
      width: 150px;
  }
  .KC_et_pb_button {
      width: 137px;
      padding-left: 24px!important;
      padding-right: 24px!important;
      font-size: 14px;
  }
}
